# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\УЧЕБА\КЗІ\CPI_1Lab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
